
.c-masthead {
    background-color: $primary;
    height: 100vh;
    display: flex;
    position: relative;
    text-align: center;
    //margin-top: 52px;
}

.c-masthead__content{
    margin:auto;
    text-align: center;
}

.c-masthead__title {
    margin: 0;
    text-align: center;
    color: white;
}

.c-masthead__subtitle {
    color: white;
    margin: 0;
    text-align: center;
    font-family: $body-font;
}
